# Ignore all files & directories
*

# Include specific file types
!*.cpp
!*.hpp
!*.tpp
!.gitignore
!README.md
!*.pdf
!*.txt
!*.png
!*.bin
!*.csv
!*.tar.gz
!*.cmake 

# Include specific directories
!datasets/
!include/
!output/
!src/
!common/
!project/
!brute_force/
!templates/
!tests/