# Ignore all files & directories
*

# Include specific file types
!*.cpp
!*.hpp
!*.tpp
!.gitignore
!README.md
!*.pdf
!*.png
!*.bin
!*.tar.gz

# Include specific executable
!allTests

# Include specific files
!CMakeLists.txt
!clean.cmake 

# Include specific directories
!datasets/
!include/
!output/
!src/
!common/
!project/
!brute_force/
!templates/
!tests/

# Include specific file for testing using Gitthub Actions
!.github/
!workflows/
!allTests.yml